
.Logofarben {
    padding: 2px;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 500px;
}

.Logofarben span {

    font-size: small;
    font-weight: 200;

}


.PrimaryClores {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 75%;
    
}

.TextAndBoxContainer {
    display: flex;
    justify-content: space-between;
}

.TextBoxColors {
    width: 25%;
}
